<footer class="footer">
  <small>
   (c) nataliart.com.ua 2014
   </small>
  <nav>
    <ul>
      <li><%= link_to "Про мене",    about_path %></li>
      <li><%= link_to "Контакти", contacts_path %></li>
 	</ul>
  </nav>
</footer>